affine==2.2.2
appdirs==1.4.3
backcall==0.1.0
brotlipy==0.7.0
Cartopy==0.17.0
certifi==2020.4.5.1
cffi==1.14.0
cftime==1.1.1.1
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
-e git+https://github.com/simonmoulds/etref.git@4e0290d349539a69e26ee3ba2417e386ae8140d6#egg=etref
idna==2.9
importlib-resources==1.0.2
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.16.0
kiwisolver==1.2.0
llvmlite==0.29.0
matplotlib==3.1.3
MetPy==0.12.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
netCDF4==1.5.3
numba==0.45.1
numpy==1.18.1
olefile==0.46
OWSLib==0.19.2
packaging==20.1
pandas==1.0.3
parso==0.5.1
pbr==5.4.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.0.0
Pint==0.11
pooch==1.1.0
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pycparser==2.20
pyepsg==0.4.0
Pygments==2.4.2
pykdtree==1.3.1
pyOpenSSL==19.1.0
pyparsing==2.4.2
pyproj==2.6.0
pyshp==2.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
rasterio==1.0.24
requests==2.23.0
rioxarray==0.0.9
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
snuggs==1.4.6
stevedore==1.30.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.9
xarray==0.15.1
